.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

// .board {
//   animation: App-logo-spin infinite 20s linear;
// }

.square {
  min-width: 70px;
  color: rgb(0, 0, 0);
  background-color: rgb(255, 255, 255);
  border: 1px solid rgb(0, 0, 0);
  -webkit-flex-grow: 1;
  font-size: 2em;
  font-family: verdana;
  text-shadow: 4px 4px 5px rgba(76, 92, 13, 0.37);
  font-weight: bold;
}

.square:hover {
  background: rgb(250, 250, 250);
}

.board-row {
  margin: auto;
  width: 210px; //these values hold square size 50px height and 150/3 = 50px width
  height: 70px;
  display: -webkit-flex; /* Safari */
  display: flex;
}

button:focus {
  outline: 0;
}
