$squareSize: 70px;
$boardSize: $squareSize * 3;

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.board {
  width: $boardSize;
}

.board-row {
  width: $boardSize; //these values hold square size 50px height and 150/3 = 50px width
  height: $squareSize;
  display: -webkit-flex; /* Safari */
  display: flex;
}

.square {
  min-width: $squareSize;
  color: rgb(0, 0, 0);
  background-color: rgb(255, 255, 255);
  border: 1px solid rgb(0, 0, 0);
  -webkit-flex-grow: 1;
  font-size: 2em;
  font-family: verdana;
  text-shadow: 4px 4px 5px rgba(76, 92, 13, 0.37);
  font-weight: bold;
}

.square:hover {
  background: rgb(250, 250, 250);
}

button:focus {
  outline: 0;
}

.container {
  margin: auto;
  width: $boardSize * 3;
  display: -webkit-flex; /* Safari */
  display: flex;
}

.row-3 {
  flex-basis: $boardSize;
}

.play_again {
  background-color: #03576c;
  border: 1px solid black;
  border-radius: 4px;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.play_again:hover {
  background-color: #0a6880;
}
